#loggedIn-wrapper, #loggedOut-wrapper{
    display: none;
}

.center-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

#login-container{
    float: left;
    width: 300px;
}

.button-usermanagement {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background: #a64bf4;
    background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    background: -o-linear-gradient(left, #21d4fd, #b721ff);
    background: -moz-linear-gradient(left, #21d4fd, #b721ff);
    background: linear-gradient(left, #21d4fd, #b721ff);
    display: box;
    color: white;
    width: 100%;
    padding: 15px 20px;
    border-radius: 25px;
    float: left;
    margin-top: 20px;
    text-align: center;
    box-sizing: border-box;
    line-height: 1.2;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.tab {
    overflow: hidden;
    border-top: 2px solid rgb(21,21,21);
    background-color: rgb(81,81,81);
}

.tab button {
    background-color: inherit;
    float:left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-weight: bold;
    color: white;
}

.tab button:hover {
    background-color: rgb(120,120,120);
}

.tab button.active{
    background-color: rgb(100,100,100);
}

.tabcontent {
    display: none;
}

#userdata .user-input{
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(220,220,220);
    box-sizing: border-box;
    padding: 8px 13px;
    margin: 3px 0px;
    font-size: 15px;
    transition: 0.3s;
}

#userdata .user-input-alert{
    border-bottom: 2px solid rgb(226, 32, 32);
}

#userdata .alert-box{
    width: 100%;
    margin: 10px 0 0 0;
    color: rgb(226, 32, 32);
    display: none;
    text-align: center;
}

#userdata .success-box{
    width: 100%;
    margin: 10px 0 0 0;
    color: rgb(63, 189, 140);
    display: none;
    text-align: center;
}

#userdata .user-input:focus{
    outline: none;
    border-bottom: 2px solid rgb(180,180,180);
}

#userdata h3{
    margin-bottom: 10px;
    text-align: center;
}

#userdata{
    margin: 10px 0px;
}

#user-data-container{
    width: 400px;
    float:left;
}

#user-data-container .button-usermanagement{
    margin: 10px 0 30px 0;
}

#user-data-container p {
    margin: 20px 0px;
}

@media (max-width: 300px) {
    #login-container{
        width: 98%;
    }

    #user-data-container{
        width: 98%;
    }
}