body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.leaflet-map {
    height: 800px;
    width: 90%;
    padding: 0px;
    margin: 0px;
}

.data-summary {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 0 45px;
}

.data-summary .summarylabel {
    font-weight: bold;
}

.data-summary .summarylabel,
.data-summary .summaryvalue {
    display: inline-block;
    min-width: 100px;
}

.data-row {
    margin-bottom: 1em;
}

.elevation-detached.elevation-collapsed .elevation-toggle-icon {
    top: 1.5em;
}

.header{
    min-height: 10vh;
    width: 100%;
    /*background-image: url(header.jpg);*/
    background-color: rgb(61, 61, 61);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
/*syling der Navigationsleiste*/
nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 160px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0);
    display: block;
    margin: auto;
    transition: .2s;    
}
.nav-links ul li:hover::after{
    background: rgb(255, 255, 255);
}
nav .fa{
    display: none;
}
/*style="text-align: center; height: 250px;" onclick=""*/
.SearchElement{
    text-align: center;
    height: 250px;
}
.SearchElementImage{
    width: 90%;
}
/*style="display:grid; grid-template-columns: auto auto auto auto; grid-row-gap: 30px;"*/
.SearchGrid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 30px;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size:40px;
}
.text-box p{
    margin: 20px 0 40px;
    font-size: 14px;
    color: #fff;
}
textarea {
    background-image:linear-gradient(
       hsl(190,10%,98%), hsl(190,10%,94%)
    ); 
    padding:0;
    font-size:2em;
    box-sizing:border-box;
    color:navy;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
 }
/*beginn des Styling des Hauptinhaltes der Startseiter(index.html)*/
.info{
    background-image: url(background.jpg);
    background-size: cover;
    height: 100vh;
    text-align: center;
}
.info-allgemein{
    padding: 20px;
    text-align: center;
}
/*Über uns*/
.about{
    margin: 0;
    height: 500px;
    width: 100%;
    background-color: white;
    color: black;
}
.about-text{
    text-align: center;
    font-size: 50px;
}
.card1{
    width: 300px;
    height: 350px;
    margin-left: 35%;
    margin-top: 50px;
    text-align: center;
    float: left;
    background: lightslategray;
}
.card2{
    width: 300px;
    height: 350px;
    margin-right: 35%;
    margin-top: 50px;
    text-align: center;
    float: right;
    background: lightslategray;
}
.cards h4{
    margin-top: 50px;
}
.cards p{
    margin-top: 20px;
}

/*Styling des Footers*/
#footer{
    bottom: 0;
    width: 100%;
    height: 20px;
    text-align: center;
    color: gray;
    padding: 16px 0px;
}

#createdTours h1{
    text-align: left;
    margin-left: 50px;
}

#createdTours .SearchGrid{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    grid-row-gap: 30px;
}
.tourenInBesitz h3{
    text-align: left;
    margin-left: 50px;
    margin-top: 5px;
}



.tour-container {
    display: flex;
   
    
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .tour-card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    
  }
  .create-card {
      margin: 10px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      width: 300px;
      min-height: 420px;
      
      display: grid;
      
    }
  .tour-card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .tour-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 100px;
  }
  .create-button {
      background-color: white; 
      color: #4b66a6; 
      border: 2px solid #4b66a6;
      height: 120px;
      width: 120px;
      
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 90px;
      margin: auto;
      cursor: pointer;
      border-radius: 60px;
    }
  
  .detail-button {
      background-color: #4b66a6;
      border: none;
      color: white;
      height: 30px;
      padding: 5px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 10px 0px;
      cursor: pointer;
      border-radius: 15px;
    }
  .detail-button:hover {
      box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24), 0 12px 15px 0 rgba(0,0,0,0.19);
  }
  
  
  .tour-card-body p {
    font-size: 13px;
    margin: 0 20 20px;
  }
  
  .tour-card-body h3 {
      color: #575a64;
      font-size: 13px;
      margin: 0 0 0px;
    }
  .tour-card-body h4 {
      margin: 5px 0 20px;
    }
  #contact { 
  /* IE10+ */
  margin: 4em auto;
  width: 100px; 
  height: 30px; 
  line-height: 30px;
  background: teal;
  color: white;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border: 1px solid white;
  }
  
  #contact:hover { background: #666; }
  #contact:active { background: #444; }
  
  #contactForm { 
  border: 0px solid grey; 
  padding: 20px;
  width: 50%;
  text-align: left;
  background: #fff;
  }
  
  #contactForm b {
      margin: 0px 0px 5px;
  }
  #contactForm h1 {
      margin: 10px 0px 20px;
      
  }
  
  #contactForm input, textarea, select { 
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
      font-weight: 100;
  }
  
  #contactForm .form-button {
      background-color: #4b66a6; /* Green */
      border: none;
      color: white;
      height: 30px;
      width: 90px;
      padding: 5px;
      align-self: center;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 10px 0px 0px;
      cursor: pointer;
      border-radius: 15px;
      font-family: "Roboto", sans-serif;
    }
  
    #contactForm .form-button:hover {
      box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24), 0 12px 15px 0 rgba(0,0,0,0.19);
  }
  
.placeholder-image {
    width: 50%;
}
